<?xml version="1.0"?>
<!--
 * @author MageHook <info@magehook.com>
 * @package MageHook_HookEventsSales
 *
 * For the full copyright and license information, please view the LICENSE.txt
 * file that was distributed with this source code.
-->
<config
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd"
>
  <event name="sales_order_save_after">
    <observer
      name="MageHook_HookEventsSales_Observer_SalesOrderSaveAfter"
      instance="MageHook\HookEventsSales\Observer\SalesOrderSaveAfter"
    />
  </event>

  <event name="sales_order_invoice_pay">
    <observer
      name="MageHook_HookEventsSales_Observer_SalesOrderInvoicePay"
      instance="MageHook\HookEventsSales\Observer\SalesOrderInvoicePay"
    />
  </event>
</config>
